<span>
    <form method="post" action="{% url 'ecommerce:add_to_cart' product_id=product_id %}">
        {% csrf_token %}
        {% include 'ecommerce/form_submit_button.html' with label='Buy' %}
    </form>
</span>