{% extends 'base.html' %}
{% block head %}
<title>ecommerce | {{ category_id }}</title>
{% endblock %}

{% block body %}
    <div class="mdl-card mdl-shadow--8dp center" style="min-height: 1em;">
        <div class="mdl-card__title">
            <h1 class="mdl-card__title-text">
                Products in category: '{{ category_id }}'
            </h1>
        </div>
    {% include 'ecommerce/product_list.html' with products=products %}
    </div>
{% endblock %}
