{% for category in categories %}
    <button type="button" class="mdl-chip" >
        <span class="mdl-chip__text">
            <a href="{% url 'ecommerce:category' category.name %}">{{ category.name }}</a>
        </span>
    </button>
{% endfor %}