{% extends "base.html" %}
{% block body %}
    <div class="mdl-card-wide-detail mdl-shadow--8dp center">
        <div class="mdl-card__title">
            <div class="mdl-card__title-text">
                <h1 class="mdl-card__title-text">My Orders</h1>
            </div>
        </div>
    </div>

    {% include 'ecommerce/order_list.html' with orders=orders %}
{% endblock %}
