<div>
    {% for item in radiobox %}
        <div style="margin: 0.5em;" onclick="changeState('id_{{ name }}_{{ forloop.counter0 }}')">
            <label class="mdl-radio mdl-js-radio">
                <input id="id_{{ name }}_{{ forloop.counter0 }}" name="{{ name }}" type="radio" value="{{ forloop.counter }}" required class="mdl-radio__button">
                <span class="mdl-radio__label">{{ item.choice_label }}</span>
            </label>
        </div>
    {% endfor %}
<script>
function changeState(elementId) {
    for (var element in document.getElementsByClassName('radio')) {
        element.setAttribute('checked', false);
    }

    element = document.getElementById(elementId);
    if (!element.getAttribute('checked')) {
        element.setAttribute('checked', true);
    }
}
</script>
</div>