<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select">
    <textarea type="text" value="" class="mdl-textfield__input" id="id_{{ name }}" name="{{ name }}" readonly></textarea>
    <input type="hidden" value="" name="{{ name }}" {{ required|yesno:"required," }} >
    <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
    <label for="id_{{ name }}" class="mdl-textfield__label">Country</label>
    <ul for="id_{{ name }}" class="mdl-menu mdl-menu--bottom-left mdl-js-menu">
        {% for option in options %}
            {% if forloop.counter == 1 %}
                <li class="mdl-menu__item" data-selected="true">{{ option }}</li>
            {% else %}
                <li class="mdl-menu__item">{{ option }}</li>
            {% endif %}
        {% endfor %}
    </ul>
</div>