<div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <span>
            <input type="number" min="{{ min }}" max="{{ max }}" required
                   name="{{ name }}" id="id_{{ name }}" class="mdl-textfield__input"
                   {% if value %}value="{{ value }}"{% endif %}>
            <label class="mdl-textfield__label" for="id_{{ name }}">{{ label }}</label>
        </span>
    </div>
</div>