<div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <textarea name="{{ name }}" id="id_{{ name }}"
                  cols="{{ cols }}" rows="{{ rows }}"
                  required class="mdl-textfield__input">{% if value %}{{ value }}{% endif %}</textarea>
        <label class="mdl-textfield__label" for="id_{{ name }}">{{ label }}</label>
    </div>
</div>