{% extends 'base.html' %}

{% block body %}
    <div class="mdl-card mdl-shadow--8dp center">
        <div class="mdl-card__title">
            <h1 class="mdl-card__title-text">Edit Product: {{ product.name }}</h1>
        </div>
        <div style="margin:1em">
            <form action="." method="POST">
                {% csrf_token %}

                {% include 'ecommerce/form_text_element.html' with label='Name' name='name' readonly=True value=name %}

                {% include 'ecommerce/form_text_element.html' with label='Manufacturer' name='manufacturer' value=manufacturer readonly=True %}

                {% include 'ecommerce/form_text_element.html' with label='Model' name='model' readonly=True value=model %}

                {% include 'ecommerce/form_text_element.html' with label='Category' name='category' value=category %}

                {% include 'ecommerce/form_number_element.html' with label='Price' name='price' value=price %}

                {% include 'ecommerce/form_textarea_element.html' with label='Description' name='description' value=description %}

                {% include 'ecommerce/form_submit_button.html' with label='Confirm' %}
            </form>
        </div>
    </div>
{% endblock %}