<div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input {% if type %} type="{{ type }}" {% else %} type="text" {% endif %}
               {% if pattern %} pattern="{{ pattern }}" {% endif %}
                  required class="mdl-textfield__input" name="{{ name }}" id="id_{{ name }}" {{ readonly|yesno:"readonly,"}}
                {% if value %}value="{{ value }}"{% endif %}>
        <label class="mdl-textfield__label" for="id_{{ name }}">{{ label }}</label>
    </div>
</div>