<div class="mdl-textfield mdl-js-textfield">
    <input class="mdl-textfield__input" placeholder="{{ placeholder }}" readonly style="box-sizing: border-box;">
    <div class="mdl-button mdl-button--icon mdl-button-primary" style="right: 0">
        <i class="material-icons">attach_file</i>
        <input class="mdl-input--file" {{ required|yesno:"required," }} {{ multiple|yesno:"multiple," }} type="file"
               name="{{ name }}" id="id_{{ name }}">
    </div>
</div>