{% extends "base.html" %}
{% block head %}
<title>ecommerce</title>
{% endblock %}

{% block body %}
    <div id="header" style="margin-left: 1em; text-align: center">
        <h1>Welcome to my ecommerce</h1>
    </div>

    <div class="mdl-card mdl-shadow--8dp center" style="min-height: 1em;">
        <div class="mdl-card__title">
            <h1 class="mdl-card__title-text">Hot categories</h1>
        </div>
        <div class="mdl-grid">
            {% include 'ecommerce/categories_list.html' with categories=categories %}
        </div>
    </div>
{% endblock %}
