<ul class="mdl-list">
    {% for order in orders %}
        <li class="mdl-list__item mdl-shadow--2dp" style="margin: 1em">
            <div>
                <div class="mdl-card__title">
                    <h1 class="mdl-card__title-text">
                        <a href="{% url 'ecommerce:order' order.id %}">
                        Order: {{ order.id }}
                        </a>
                    </h1>
                </div>
            </div>
        </li>
    {% endfor %}
</ul>
{% if not orders %}
    <div class="mdl-card-wide-detail mdl-shadow--8dp center">
        <div class="mdl-card__title">
            <h1 class="mdl-card__title-text">
                No orders done, yet.
            </h1>
        </div>
    </div>
{% endif %}