{% extends 'base.html' %}

{% block body %}
    <div class="mdl-card-wide-detail mdl-shadow--8dp">
        <div class="mdl-card__title">
            <h1 class="mdl-card__title-text">Order: {{ order.id }}</h1>
        </div>
        <div class="mdl-card__subtitle-text" style="margin: 1em">
            <h1 class="mdl-card__subtitle-text">{{ order.date }}</h1>
        </div>
        {% if order.open %}
            <div style="margin: 1em;">
                <span style="margin:1em;">
                    <form action="{% url 'ecommerce:close_order' order.id %}" method="POST">
                        {% csrf_token %}
                        {% include 'ecommerce/form_submit_button.html' with label='Confirm Order' %}
                    </form>
                </span>
                <span style="margin:1em;">
                    <form action="{% url 'ecommerce:cancel_order' order.id %}" method="POST">
                        {% csrf_token %}
                        {% include 'ecommerce/form_submit_button.html' with label='Cancel Order' %}
                    </form>
                </span>
            </div>
        {% endif %}

        {% include 'ecommerce/product_list.html' %}
    </div>
{% endblock %}