<div class="pagination" style="margin-left: 1em; margin-bottom: 1em;">
    <span class="step-links">
        {% if item.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ item.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ item.number }} of {{ item.paginator.num_pages }}.
        </span>

        {% if item.has_next %}
            <a href="?page={{ item.next_page_number }}">next</a>
            <a href="?page={{ item.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>