<div class="mdl-card mdl-shadow--8dp center" style="min-height: 1em;">
    <script type="text/javascript">
        function showProductForm() {
            var reviewFormId = document.getElementById("productFormPanel");
            inlineStyle = "block";
            if(reviewFormId.style.display === inlineStyle) {
                var inlineStyle = "none";
            }
            reviewFormId.style.display = inlineStyle;

            if (inlineStyle === "block") {
                document.getElementById("id_name").focus();
            }
        }
    </script>

    <div class="mdl-card__title" onclick="showProductForm()">
        <h1 class="mdl-card__title-text">Insert new product</h1>
    </div>

    <div id="productFormPanel" class="mdl-card__supporting-text" {% if not message %} style="display: none" {% endif %}>
        {% if message %}
            {% include 'ecommerce/form_submit_error_message.html' with message=message %}
        {% endif %}
        <span style="width: 50%; margin-right: 0.5em;">
            <form id="id-product-form" method="post" action="." enctype="multipart/form-data" >
                {% csrf_token %}

                {% include 'ecommerce/form_text_element.html' with name='name' label='Name' %}

                {% include 'ecommerce/form_text_element.html' with name='manufacturer' label='Manufacturer' %}

                {% include 'ecommerce/form_text_element.html' with name='model' label='Model' %}

                {% include 'ecommerce/form_text_element.html' with name='category' label='Category' %}

                {% include 'ecommerce/form_number_element.html' with name='price' label='Price' %}

                {% include 'ecommerce/form_text_element.html' with name='description' label='Description' %}

                {% include 'ecommerce/form_attach_file_element.html' with name='cover' placeholder='Cover' required=True multiple=False %}

                {% include 'ecommerce/form_submit_button.html' with label='Submit' %}
            </form>
        </span>
        <span style="width: 50%; margin-left: 0.5em;">
            {{ form.errors }}
        </span>
    </div>
</div>