{% extends "base.html" %}
{% block body %}
    <div class="mdl-card-wide-detail mdl-shadow--8dp center">
    <div class="mdl-card__title">
        <h1 class="mdl-card__title-text">You have searched for: {{ search_query }}</h1>
    </div>
        {% include 'ecommerce/product_list.html' with products=products %}
    </div>
{% endblock %}