<ul class="mdl-list">
    {% for product in products %}
        <li class="mdl-list__item mdl-shadow--2dp" style="margin: 1em">
            <div style="margin: 1em">
                <span class="mdl-list__item-primary-content">
                    <a href="{% url 'ecommerce:product' product.id %}">
                        {{ product.name }}
                    </a>
                    {% if user.is_authenticated %}
                        {% if product.supplier.username ==  user.username %}
                            <a href="{% url 'ecommerce:edit_product' product.id %}"><i class="material-icons" >mode_edit</i></a>
                        {% endif %}
                    {% endif %}
                </span>
                {% if not product.sale > 0 %}
                    <div>
                        <p>{{ product.price }} {{ product.currency }}</p>
                    </div>
                {% else %}
                    <div>
                        <p>{{ product.sale }} {{ product.currency }}</p>
                    </div>
                {% endif %}
                <div>
                    <a class="mdl-list__item-secondary-content" href="#">
                        <i class="material-icons">
                            {% for i in product.get_score %}
                                star
                            {% endfor %}
                        </i>
                    </a>
                </div>
            </div>
            <div>
                <img class="thumbnail" src="{{ product.cover.url }}" />
            </div>
        </li>
    {% endfor %}
</ul>

{% if not skip_footer %}
    {% include "ecommerce/paginator_footer.html" with item=products %}
{% endif %}