{% extends "base.html" %}
{% block head %}
<title>ecommerce | {{ product.name }}</title>
{% endblock %}

{% block body %}
    <div id="content-product" class="mdl-card mdl-card-wide-detail mdl-shadow--8dp center">
        <div id="content-product-header" class="mdl-card__title" align="center">
            <h1 class="mdl-card__title-text"> {{ product.name }} </h1>
            <span class="mdl-card__subtitle-text" style="margin-left: 1em;">({{ sell_number }})</span>
            <div class="mdl-layout-spacer"></div>
            <a href="{% url 'ecommerce:supplier_overview' product.supplier.username %}">{{ product.supplier.username }}</a>
        </div>
        <div id="content-product-info" class="mdl-card__subtitle-text" style="margin-left: 1em;">
            <h8>{{ product.manufacturer.name }}</h8>
            <h8>{{ product.model.name }}</h8>
        </div>
        <div id="content-product-score" class="mdl-card__subtitle-text" style="margin-left: 1em;">
            <i class="material-icons">
                {% for i in  product.get_score %}
                    star
                {% endfor %}
            </i>
        </div>
        {% if not product.sale > 0 %}
            <div style="margin-left: 1em">
                <span>{{ product.price }} {{ product.currency }}</span>
                {% include 'ecommerce/add_to_cart_button.html' with product_id=product.id %}
            </div>
        {% else %}
            <div style="margin-left: 1em">
                <span>{{ product.sale }} {{ product.currency }}</span>
                {% include 'ecommerce/add_to_cart_button.html' with product_id=product.id %}
            </div>
        {% endif %}
        {% if product.cover %}
        <div id="content-product-cover" class="mdl-card__media center" style="background:white;">
            <img src="{{ product.cover.url }}" style="max-width: 50%; max-height: 40em;"/>
        </div>
        {% endif %}
        {% if not gallery_images %}
        <div id="content-product-galley" class="mdl-card__media">
            {% for image in gallery_images %}
            <div id="content-product-gallery-picture-{{ image.id }}">
                <img src="{{ image.image.url }}" class="thumbnail"/>
            </div>
            {% endfor %}
        </div>
        {% endif %}
        {% if product.description %}
            <div id="content-product-description" class="mdl-card__supporting-text center">
                <p class="mdl-typography--text-justify">{{ product.description }}</p>
            </div>
        {% endif %}
    </div>
    {% if user.is_authenticated %}
        <div class="mdl-card mdl-shadow--8dp center">
            <div class="mdl-card__title">
                <h1 class="mdl-card__title-text">Products other users has bought this with</h1>
            </div>

            {% include 'ecommerce/product_list.html' with products=recommendations skip_footer=True %}
        </div>
        {% if product.supplier.username != request.user.username %}
            {% include 'ecommerce/review_form.html' with form=form product=product %}
        {% endif %}
        {% include 'ecommerce/review_list.html' with reviews=reviews %}
    {% endif %}
{% endblock %}
