<div id="content-review-list" class="mdl-card mdl-shadow--8dp center" style="min-height: 1em;">
    <div class="mdl-card__title">
        <h1 class="mdl-card__title-text">
            Reviews
        </h1>
    </div>
    {% if reviews %}
        <ul class="mdl-list">
            {% for review in reviews %}
                <li class="mdl-list__item mdl-shadow--2dp" style="margin: 1em;">
                    <div>
                        <div style="margin: 1em;">
                            <span class="mdl-list__item-primary-content">
                                <i class="material-icons mdl-list__item-avatar">person</i>
                                {{ review.author.username }}
                            </span>
                            <div>
                                <a class="mdl-list__item-secondary-action" href="#">
                                    <i class="material-icons">
                                        {% for i in review.get_score %}
                                            star
                                        {% endfor %}
                                    </i>
                                </a>
                            </div>
                        </div>
                        <div class="mdl-list__item-text-body">
                            <p class="mdl-typography--text-justify">{{ review.text }}</p>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
        {% include 'ecommerce/paginator_footer.html' with item=reviews %}
    {% else %}
        <div class="mdl-card__supporting-text">
            <p class="mdl-typography--text-justify">No reviews yet</p>
        </div>
    {% endif %}
</div>