<div id="content-form-review" class="mdl-card mdl-shadow--8dp center" style="min-height: 0">
    <script type="text/javascript">
        function showReviewForm() {
            var reviewFormId = document.getElementById("contentPanelReviewForm");
            inlineStyle = "block";
            if(reviewFormId.style.display === inlineStyle) {
                var inlineStyle = "none";
            }
            reviewFormId.style.display = inlineStyle;

            if (inlineStyle === "block") {
                document.getElementById("id_text").focus();
            }
        }
    </script>
    <div id="content-review-header" class="mdl-card__title" align="center">
        <h1 class="mdl-card__title-text" onclick="showReviewForm()"> Insert new review </h1>
    </div>

    <div id="contentPanelReviewForm" class="mdl-card__supporting-text" style="display: none" enctype="multipart/form-data">
        <form id="reviewFormId" method="post" action="{% url 'ecommerce:submit_review' product_id=product.id %}">
            {% csrf_token %}

            {% include 'ecommerce/form_textarea_element.html' with name='text' label='Review' rows='3' cols='80' %}

            {% include 'ecommerce/form_number_element.html' with name='score' label='Score' min='1' max='5' %}

            {% include 'ecommerce/form_attach_file_element.html' with placeholder='Choose File' %}

            {% include 'ecommerce/form_submit_button.html' with label='Submit' %}
        </form>
    </div>
</div>