{% extends "base.html" %}

{% block body %}
    <div class="mdl-card mdl-shadow--8dp center">
        <div class="mdl-card__title">
            <div class="mdl-card__title-text">Overview of supplier: {{ supplier_username }}</div>
        </div>
        <div class="mdl-card__subtitle-text" style="margin-left: 1em;">
            Average score review:
            <i class="material-icons">
                {% for i in average_score %}
                    star
                {% endfor %}
            </i>
        </div>

    {% include 'ecommerce/product_list.html' with products=products %}
    </div>
{% endblock %}