{% extends "base.html" %}
{% block body %}

    <div class="mdl-card mdl-shadow--8dp center" style="min-height: 1em;">
        <div class="mdl-card__title">
            <h1 class="mdl-card__title-text">Welcome <a style="margin-left: 0.3em;" href="{% url 'ecommerce:supplier_overview' request.user.username %}"> {{ request.user.username }} </a></h1>
        </div>
        <div class="mdl-card__subtitle-text" style="margin: 1em;">
            Average score review:
            <i class="material-icons">
                {% for i in average_score %}
                    star
                {% endfor %}
            </i>
        </div>
    </div>

    {% include 'ecommerce/product_form.html' %}

    <div class="mdl-card mdl-shadow--8dp center">
        <div class="mdl-card__title">
            <div class="mdl-card__title-text">
                <h1 class="mdl-card__title-text">My Products</h1>
            </div>
        </div>

        {% include 'ecommerce/product_list.html' with products=products %}
    </div>
{% endblock %}