{% extends "base.html" %}
{% block head %}
<title>ecommerce | Login</title>
{% endblock %}

{% block body %}
<div id="header" style="margin-left: 1em; text-align: center">
    <h1>Authentication</h1>
</div>

{% if form.errors %}
<div id="form-errors" style="background-color: #A52A2A;">
    <div id="inner-form-errors" style="margin-left: 1em;">
        <p style="color: #F0FFFF;">Wrong credentials. Try again </p>
    </div>
</div>
{% endif %}

<div id="login-form" style="margin-left: 1em;">
<form method="post">
    {% csrf_token %}

    {% include 'ecommerce/form_text_element.html' with label='Username' name='username' pattern='^\w+$' %}

    {% include 'ecommerce/form_text_element.html' with label='Password' name='password' type='password' %}

    {% include 'ecommerce/form_submit_button.html' with label='Login' %}

</form>
</div>

{% endblock %}
