{% extends "base.html" %}

{% block head %}
<title>ecommerce | Sign Up</title>
{% endblock %}

{% block body %}
<div id="header" style="margin-left: 1em; text-align: center;">
    <h1>Sign Up</h1>
</div>

{% if form.errors %}
    {% include 'ecommerce/form_submit_error_message.html' with message=message %}
{% endif %}

<div id="sign-up-form" style="margin-left: 1em;">
    <form method="post">
        {% csrf_token %}

        {% include 'ecommerce/form_text_element.html' with label='Username' name='username' pattern='^\w+$' %}

        {{ form.group }}

        {% include 'ecommerce/form_text_element.html' with label='Email' name='email' type='email' %}

        {% include 'ecommerce/form_text_element.html' with label='Password' name='password1' type='password' %}

        {% include 'ecommerce/form_text_element.html' with label='Password confirmation' name='password2' type='password' %}

        {% include 'ecommerce/form_submit_button.html' with label='Sign up' %}

    </form>
</div>
{% endblock %}
