{% load static %}
{% load custom_filters %}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width-device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{% static "ecommerce/css/icons.css" %}" type="text/css"/>
        <link rel="stylesheet" href="{% static "ecommerce/css/material.indigo-blue.min.css" %}" type="text/css"/>
        <link rel="stylesheet" href="{% static "ecommerce/css/getmdl-select.min.css" %}" type="text/css" />
        {% block head %}
        {% endblock %}
        <style type="text/css">
            .center {
                margin: 1em;
                width: 97%;
                min-height: 1em;
            }

            img {
                max-width: 100%;
                height: auto;
            }

            .thumbnail {
                max-width: 150px;
                max-height: 150px;
            }

            .page-content > * {
                margin: 1em;
            }

            .mdl-input--file {
                cursor: pointer;
                height: 100%;
                right: 0;
                opacity: 0;
                position: absolute;
                top: 0;
                width: 300px;
                z-index: 4;
            }

            .grid-container {
                padding: 1em;
                margin: 1em;
                list-style: none;

                display: -webkit-box;
                display: -moz-box;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                -webkit-flex-flow: row wrap;
                justify-content: space-around;
            }
        </style>
    </head>
    <body>
        <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header
                    mdl-layout--fixed-drawer">
            <header class="mdl-layout--header">
                <div class="mdl-layout__header-row">
                    <div class="mdl-layout-spacer"></div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable
                                mdl-textfield--floating-label mdl-textfield--align-right">
                        <form type="get" action="{% url 'ecommerce:search_view' %}">
                            {% csrf_token %}
                            <label class="mdl-button mdl-js-button mdl-button--icon"
                                   for="fixed-header-drawer-exp">
                                <i class="material-icons">search</i>
                            </label>
                            <div class="mdl-textfield__expandable-holder">
                                <input class="mdl-textfield__input" type="text" name="searchbox"
                                       id="fixed-header-drawer-exp">
                            </div>
                        </form>
                    </div>
                </div>
            </header>
            <div class="mdl-layout__drawer">
                <span class="mdl-layout-title">
                    <a href="{% url 'ecommerce:index' %}">
                        Ecommerce
                    </a>
                </span>
                {% if user.is_authenticated %}
                    <nav class="mdl-navigation">
                        <a class="mdl-navigation__link" href="{% url 'ecommerce:profile' %}">
                            Profile: {{ user.username }}
                        </a>
                    </nav>
                    {% has_open_cart request.user as open_cart %}
                    {% if open_cart %}
                        {% get_cart request.user as cart %}
                        <nav class="mdl-navigation">
                        <a class="mdl-navigation__link" href="{% url 'ecommerce:order' cart.id %}">
                            Open cart ( {{ cart.products_set.count }} )
                        </a>
                    </nav>
                    {% endif %}
                    <nav class="mdl-navigation">
                        <a class="mdl-navigation__link" href="{% url 'ecommerce:logout' %}">
                            Logout
                        </a>
                    </nav>
                {% else %}
                    <nav id="login" class="mdl-navigation">
                        <a class="mdl-navigation__link" href="{% url 'ecommerce:login' %}">
                            Login
                        </a>
                    </nav>
                    <nav id="signup" class="mdl-navigation">
                        <a class="mdl-navigation__link" href="{% url 'ecommerce:signup' %}">
                            Sign up
                        </a>
                    </nav>
                {% endif %}
            </div>
            <main class="mdl-layout__content">
                <div class="page-content">
                    <div class="mdl-layout-spacer"></div>
                    {% block body %}
                    {% endblock %}
                </div>
            </main>
        </div>

        <script type='text/javascript' src="{% static "ecommerce/js/material.min.js" %}"></script>
        <script type='text/javascript' src="{% static "ecommerce/js/getmdl-select.min.js" %}"></script>
    </body>
</html>
